.share-head{
    background-color: #5856d6;
    height: 100vh;
    width: 100%;
    
   
}
.header1{
width: 20%;
}
.header2{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
margin-left: 1%;
    

}
.share-parent{
    display: flex;
   
    font-size: 1.2rem;
    background-color:#130fe5 ;
    padding-top: 10px;
    position: fixed;
    width: 98.5%;

   
}
.share-link{
    color: white;
    padding-left: 10px;
    margin-left: 1%;
    text-decoration: none;
  
   
}
.share-link:hover{
    text-decoration: underline;
    

}
.share-link1{
  width: 100%;
  margin-left: 20%;
  margin-top: 20px;
  
}
.share-btn{
    
    position: absolute;
    left: 72%;
    bottom: 91%;
}
.btn1{
    padding: 8px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: white;
    color: black;
}
.btn2{
    padding: 8px;
    border-radius: 8px;
    border: 2px solid white;
    background-color:#130fe5 ;
    color: white;
 margin-left: 18px;
}
.btn2:hover{
    background-color: white;
    color: black;
   
}
.share-drop-main{
    position: absolute;
    left:85%;
    bottom: 91%;
}
.share-drop-head{
    background-color: #130fe5;
    color: white;
    border: 1px solid#130fe5;
    font-size: 1rem;
    font-weight: bold;

}
.en-btn{
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #130fe5;
    background-color:#130fe5;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.en-btn:hover{
    background-color: white;
    color: black;
}
.main{
    position: absolute;
    left: 25%;
    top: 15%;
}
.text1{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.text2{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.share-file{
    position: absolute;
    left: 40%;
    top: 55%;

    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
   
    transform: translate(-50%, -50%);
    border: 10px solid rgb(235, 165, 36);
    border-top: 10px solid rgb(255, 81, 0);
    border-bottom: 10px solid rgb(215, 95, 14);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.start{
    position: absolute;
    left: 38%;
    top: 50%;
    color: orangered;
    font-size: 2rem;
    cursor: pointer;
}
.pop-head{
    height: 150px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    top: 75%;
    
}
.spelling1{
 margin-left: 8%;
}
.spelling-head{
    height: 70px;
    width: 160px;
    background-color: white;
    margin-left: 20%;
}
#fileInput {
    display: none;
}


.upload-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 60px;
    font-size: 1.2rem;
    border-bottom: 1px dashed black;
}




.share-btn-main{
    position: absolute;
    top: 88%;
    left: 75%;
}
.send-btn{
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 10px;
   padding-bottom: 10px;
    color: black;
    background-color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid white;
    position: absolute;
    top: 0%;
}
.receive-btn{
    padding-left: 150px;
    padding-right: 30px;
    padding-top: 10px;
padding-bottom: 10px;
    color: black;
   
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid white;
}

.share-heading{
    text-align: center;
}
.share-box-main{
margin-top: 6%;
margin-left: 3%;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}
.share-box{
    height: 230px;
    width: 400px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: whitesmoke;
}
.share-circle{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: blue;
    text-align: center;
    color: white;
    margin-left: 2%;
}
.share-btn-files{
    margin-top: 5%;
    margin-left: 4%;
}
.btn3{
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: #130fe5;
    border: 2px solid #130fe5;
    font-size: 1rem;

}
.btn4{
    padding: 15px;
    border-radius: 5px;
    color: #130fe5;
  background-color: white;
    border: 2px solid #130fe5;
    font-size: 1rem;
    margin-left: 2%;
}
.btn4:hover{
    background-color:#130fe5 ;
    color: white;
    font-size: 1rem;
    
}